@import url('https://fonts.googleapis.com/css?family=Playball');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Garamond, sans-serif;
    font-size: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2.title {
    font-family: 'Playball', cursive;
}

.bounceInLeft, .bounceInRight {
    background-color: #f0f8ed;
    border-radius: 9px;
    box-shadow: 0px 1px 1px 0px;
}

.bounceInLeft, .bounceInRight {
    margin-left: 3%;
}

.bounceInRight {
    padding: 25px 25px;
}

.bounceInLeft {
    padding: 50px 35px;
}

h4.card-title a {
    color: black;
}

input#search-pattern.form-control {
    display: inline;
}

div.panel.search-panel {
    margin-top: 10%;
}

div#search-results div.card {
    margin-top: 5%;
    margin-left: 7%;
}


.mbr-testimonial {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    text-align: center;
}

.mbr-testimonial + * {
    padding-top: 40px;
}

.mbr-testimonial.card {
    background-color: transparent;
}

.mbr-testimonial .card-block {
    background: #f4f4f4;
    color: #565656;
    font-family: "Lora";
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    padding: 1.875rem;
    position: relative;
}

.mbr-testimonial .card-block:after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
}

.mbr-testimonial-lg .card-block {
    padding-bottom: 90px;
}

.mbr-testimonial .card-footer {
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

    .mbr-testimonial .card-footer:last-child {
        border-radius: 0;
    }

/*-------

   Testimonials / Author

-------*/
.mbr-author-img {
    margin-top: -2.5rem;
}

    .mbr-author-img img {
        height: 5rem;
        width: 5rem;
    }

.mbr-author-name {
    color: #2d2d2d;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.3;
    padding-top: 1.25rem;
}

.mbr-author-desc {
    color: #a7a7a7;
    font-family: "Lora";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.597;
}

/*-------

   Info

-------*/
.mbr-info-subtitle, .mbr-info-extra .mbr-info-title {
    margin-bottom: 0;
}

.mbr-info-extra .mbr-info-subtitle {
    margin-bottom: 0.5rem;
}

/*-------

   Subscribe

-------*/
.mbr-subscribe {
    background: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    height: 4rem;
    padding: 0;
    position: relative;
}

    .mbr-subscribe .form-control {
        background: none;
        border: 0;
        position: relative;
        top: 0.4375rem;
    }

    .mbr-subscribe .input-group-btn {
        position: static;
    }

        .mbr-subscribe .input-group-btn::after {
            border-radius: 3px;
            border: 1px solid transparent;
            bottom: -1px;
            content: "";
            display: block;
            left: -1px;
            position: absolute;
            right: -1px;
            top: -1px;
        }

.form-active .mbr-subscribe .form-control:invalid ~ .input-group-btn::after {
    border-color: #f28281;
}

.mbr-subscribe .btn {
    border-radius: 3px !important;
    margin-bottom: 0;
    margin-right: 0.5625rem;
}

.mbr-subscribe-dark {
    background: none;
    border-color: rgba(255, 255, 255, 0.2);
}

    .mbr-subscribe-dark .form-control {
        color: #fff;
    }

/*-------

   Small footer

-------*/
.mbr-small-footer {
    background: #323232;
    color: #acacac;
    font-size: 0.8125rem;
    padding: 1.75rem 0;
}

.mbr-small-footer p {
    margin-bottom: 0;
}

.mbr-small-footer a {
    color: #c0a375;
}

.mbr-small-footer a:hover {
    text-decoration: none;
}

#stat-message {
    color: orange;
    font-size: 20px;
    font-weight: bolder;
}