@import url('https://fonts.googleapis.com/css?family=Playball');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Garamond, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2.title {
    font-family: 'Playball', cursive;
}

.bounceInLeft, .bounceInRight {
    background-color: #f0f8ed;
    border-radius: 9px;
    box-shadow: 0px 1px 1px 0px;
}

.bounceInLeft, .bounceInRight {
    margin-left: 3%;
}

.bounceInRight {
    padding: 25px 25px;
}

.bounceInLeft {
    padding: 50px 35px;
}

h4.card-title a {
    color: black;
}

input#search-pattern.form-control {
    display: inline;
}

div.panel.search-panel {
    margin-top: 10%;
}

div#search-results div.card {
    margin-top: 5%;
    margin-left: 7%;
}