@using ReadMe.Web.Models.Reviews

@model ICollection<ReviewViewModel>

<div class="row book-reviews">

    @if (Model.Any())
    {
        <div class="col-xs-12">
            @foreach (var review in Model)
            {
                <div class="mbr-testimonial card">
                    <div class="card-block">
                        <p>@review.Content</p>
                    </div>
                    <div class="mbr-author card-footer">
                        <div class="mbr-author-name">
                            <img id="review-user-img" class="img-circle" src="@review.Book.PhotoUrl" width="2%;" />
                            - @review.Book.Title
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-xs-12">
            No reviews
        </div>
    }

</div>

