@{
    ViewBag.Title = "Home";
}

@Styles.Render("~/Content/css")

@*Welcome*@
<section id="hero">
</section>

@*Top rated books*@
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">See Top Rated Books</h3>
                <div class="section-title-divider"></div>
            </div>
        </div>

        @Html.Action("TopBooks", new { controller = "Home" })
        
    </div>
</section>

<hr />

@*Latest books*@
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">See Latest Books</h3>
                <div class="section-title-divider"></div>
            </div>
        </div>

        @Html.Action("LatestBooks", new { controller = "Home" })

    </div>
</section>

<section id="testimonials">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Latest User Reviews</h3>
                <div class="section-title-divider"></div>
            </div>
        </div>

        @Html.Action("LatestReviews", new { controller = "Home" })

    </div>
</section>
