
@{
    ViewBag.Title = "Admin panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/admin-css")

<div class="toggled" id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="/administration/genres">Genres</a>
            </li>
            <li>
                <a href="/administration/books">Books</a>
            </li>
            <li>
                <a href="/administration/users">Users</a>
            </li>
            <li>
                <a href="/administration/reviews">Reviews</a>
            </li>
            <li>
                <a href="/administration/authors">Authors</a>
            </li>
            <li>
                <a href="/administration/publishers">Publishers</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper administration-box">
        <div class="container-fluid">
            <h1>Admin panel</h1>
            <p>Choose what you want to administer</p>
            <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Toggle Menu</a>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

