@using ReadMe.Web.Models.Reviews

@model ICollection<ReviewViewModel>

<div class="row book-reviews-list">
    <div class="col-xs-12">
        @if (Model.Any())
        {
            foreach (var review in Model)
            {
                <div class="mbr-testimonial card">
                    <div class="card-block">
                        <p>@review.Content</p>
                        <p style="font-size:1rem">Posted on @Html.DisplayFor(x => review.PostedOn)</p>
                    </div>
                    <div class="mbr-author card-footer">
                        <div class="mbr-author-name">
                            by
                            <img id="review-user-img" class="img-circle" src="@review.User.PhotoUrl" width="2%" />
                            - @review.User.UserName
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div>No reviews </div>
        }
    </div>
    

</div>
