@using ReadMe.Web.Models.Reviews

@model ReviewViewModel

<div class="post-review">
    <div class="mbr-testimonial card">
        <div class="card-block">
            @using (@Ajax.BeginForm("Post", "Reviews", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "addReview"
            }, null))
            {
                @Html.TextAreaFor(r => r.Content, new { @class = "form-control", placeholder = "Post your review here...", style = "min-width: 100%" })

                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.BookId)
                <input type="submit" value="Post" class="btn btn-sm btn-success" />
            }
            
        </div>
    </div>
</div>
