@model ReadMe.Web.Models.Books.BookDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Book details</h2>

<div>
    <hr/>
    
    @Html.Partial("_BookInfoPartial", @Model.BookInfoViewModel)
    
</div>
